APP_NAME=FlatEase
APP_ENV=local
APP_KEY=base64:Q2m8zVf4oHz9X2jWnZ7xq3M2hH1Ck8y8m0lL7sQv2wE=
APP_DEBUG=true
APP_URL=http://147.182.164.48:8000
FRONTEND_URL=http://147.182.164.48:5173
LOG_LEVEL=debug
DOCUMENT_ENCRYPTION_KEY=

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=flatease_db
DB_USERNAME=root
DB_PASSWORD=Root@1234

MYSQL_ROOT_PASSWORD=Root@1234
MYSQL_DATABASE=flatease_db
MYSQL_USER=flatease
MYSQL_PASSWORD=Root@1234

SANCTUM_STATEFUL_DOMAINS=147.182.164.48,147.182.164.48:8000,147.182.164.48:5173,localhost,localhost:8000,localhost:5173,127.0.0.1,127.0.0.1:8000,127.0.0.1:5173
VITE_BACKEND_ENDPOINT=http://147.182.164.48:8000

BACKEND_PORT=8000
FRONTEND_PORT=5173

DEFAULT_ADMIN_NAME=FlatEase Admin
DEFAULT_ADMIN_EMAIL=admin@flatease.local
DEFAULT_ADMIN_PASSWORD=Admin@123456

DEFAULT_TENANT_NAME=FlatEase Tenant
DEFAULT_TENANT_EMAIL=tenant@flatease.local
DEFAULT_TENANT_PASSWORD=Tenant@123456
