**/node_modules
**/vendor
**/dist
**/.git
**/.gitignore
**/.env
**/.env.local
**/.DS_Store
**/npm-debug.log
**/yarn-error.log
**/storage/logs
**/storage/cache
**/bootstrap/cache
**/.phpunit.result.cache
**/mysql-data
**/*.pem
**/private_key.pem
**/public_key.pem
